body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.para-style-override-1 {
	color:#ffffff;
	font-family:Roboto, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-2 {
	color:#ffffff;
	font-family:"Open Sans", sans-serif;
	font-size:90px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-3 {
	color:#437a77;
	font-family:Roboto, sans-serif;
	font-size:28px;
	font-style:normal;
	font-weight:300;
	text-align:center;
}
p.para-style-override-4 {
	font-family:"Open Sans", sans-serif;
	font-size:50px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-5 {
	color:#ffffff;
	font-family:Roboto, sans-serif;
	font-size:22px;
	font-style:normal;
	font-weight:300;
	text-align:center;
}
p.para-style-override-6 {
	color:#437a77;
	font-family:Roboto, sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:300;
}
p.para-style-override-7 {
	font-family:Roboto, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:500;
}
p.para-style-override-8 {
	font-family:Roboto, sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:300;
}
p.para-style-override-9 {
	color:#ffffff;
	font-family:Roboto, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-10 {
	color:#ffffff;
	font-family:Roboto, sans-serif;
	font-size:22px;
	font-style:normal;
	font-weight:500;
}
p.para-style-override-11 {
	font-family:Roboto, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:300;
	text-align:center;
}
p.para-style-override-12 {
	text-align:center;
}
p.para-style-override-13 {
	font-family:Roboto, sans-serif;
	font-size:28px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-14 {
	font-family:Roboto, sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-15 {
	color:#ffffff;
	font-family:Roboto, sans-serif;
	font-size:28px;
	font-style:normal;
	font-weight:500;
	text-align:center;
}
p.para-style-override-16 {
	font-family:Roboto, sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:300;
	text-align:center;
}
p.para-style-override-17 {
	color:#2b2a29;
	font-family:Roboto, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:300;
	text-align:center;
}
p.para-style-override-18 {
	font-family:Roboto, sans-serif;
	font-size:28px;
	font-style:normal;
	font-weight:500;
	text-align:center;
}
p.para-style-override-19 {
	font-family:Roboto, sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:300;
}
p.para-style-override-20 {
	font-family:Roboto, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:300;
}
p.para-style-override-21 {
	color:#ffffff;
	font-family:Roboto, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:300;
	text-align:center;
}
p.para-style-override-22 {
	font-family:Roboto, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:300;
}
span.char-style-override-1 {
	color:#005e58;
	font-family:Roboto, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-family:Roboto, sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-family:Roboto, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:300;
}
span.char-style-override-4 {
	font-family:Roboto, sans-serif;
	font-style:normal;
	font-weight:300;
}
span.char-style-override-5 {
	color:#ffffff;
	font-family:Roboto, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:300;
}
span.char-style-override-6 {
	font-family:Roboto, sans-serif;
	font-size:28px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	color:#2b2a29;
	font-family:Roboto, sans-serif;
	font-size:28px;
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	height:788px;
	width:1500px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:616px;
	width:1500px;
}
img.frame-4 {
	height:744px;
	width:1500px;
}
img.frame-5 {
	height:278px;
	width:1500px;
}
img.frame-6 {
	height:388px;
	width:1477px;
}
img.frame-7 {
	height:83px;
	width:383px;
}
img.frame-8 {
	height:23px;
	width:23px;
}
img.frame-9 {
	height:548px;
	width:422px;
}
img.frame-10 {
	height:538px;
	width:575px;
}
img.frame-11 {
	height:26px;
	width:26px;
}
img.frame-12 {
	height:265px;
	width:266px;
}
img.frame-13 {
	height:25px;
	width:24px;
}
img.frame-14 {
	height:260px;
	width:171px;
}
img.frame-15 {
	height:552px;
	width:314px;
}
img.frame-16 {
	height:399px;
	width:243px;
}
img.frame-17 {
	height:574px;
	width:295px;
}
img.frame-18 {
	height:28px;
	width:29px;
}
img.frame-19 {
	height:271px;
	width:165px;
}
img.frame-20 {
	height:383px;
	width:251px;
}
img.frame-21 {
	height:250px;
	width:690px;
}
img.frame-22 {
	height:28px;
	width:27px;
}
img.frame-23 {
	height:271px;
	width:160px;
}
img.frame-24 {
	height:19px;
	width:19px;
}
img.frame-25 {
	height:27px;
	width:31px;
}
img.frame-26 {
	height:399px;
	width:235px;
}
img.frame-27 {
	height:28px;
	width:26px;
}
img.frame-28 {
	height:69px;
	width:82px;
}
img.frame-29 {
	height:42px;
	width:73px;
}
img.frame-30 {
	height:34px;
	width:113px;
}
img.frame-31 {
	height:67px;
	width:78px;
}
img.frame-32 {
	height:63px;
	width:79px;
}
img.frame-33 {
	height:26px;
	width:29px;
}
img.frame-34 {
	height:24px;
	width:23px;
}
img.frame-35 {
	height:27px;
	width:25px;
}
img.frame-36 {
	height:23px;
	width:22px;
}
img.frame-37 {
	height:23px;
	width:28px;
}
