@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; 
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal; 
}
/* .main_wrapper {
    overflow: hidden;
} */
.nav_header {
    position: relative;
}
.nav_header .nav_header_info {
    position: relative;    
    height: 60px;
    padding: 0 5vw;
    background-color: #437a77;
}
/* @media screen and (max-width: 1440px) {
    .nav_header .nav_header_info {
        padding: 0 3vw;
    }    
} */
.nav_header .nav_header_info .nav_header_info_list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center; 
    height: 60px;    
    list-style: none;
}
.nav_header .nav_header_info .nav_header_info_list li {    
    height: 35px;
}
.nav_header .nav_header_info .nav_header_info_list li img {    
    float: left;
    width: 35px;    
}
@media screen and (max-width: 1440px) {
    .nav_header .nav_header_info .nav_header_info_list li img {
        width: 30px;
    }   
}
.nav_header .nav_header_info .nav_header_info_list li p {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 35px;
    margin-left: 10px;
}
@media screen and (max-width: 1440px) {
    .nav_header .nav_header_info .nav_header_info_list li p {
        font-size: 14px;
    }   
}
.nav_header .nav_header_info .nav_header_social {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;    
}
.nav_header .nav_header_info .nav_header_social .nav_header_social_point {
    display: inline-block;
    width: 35px;
    height: 35px;
    /* margin: 0 10px; */
}
/* @media screen and (max-width: 1440px) {
    .nav_header .nav_header_info .nav_header_social .nav_header_social_point {
        width: 30px;
    }   
} */
.nav_header .nav_header_info .nav_header_social .nav_header_social_point img {
    width: 100%;
}